mj-section(background-color='#ffffff' padding="20px 17px")
    mj-column(width="40%" padding="8px" )
        mj-image(
            padding='0px'
            src='https://i.ibb.co/Rkby72V7/trading-Gaming.png'
            alt='logo du Trading Game d\'Ecosup Campus'
            width="210px")
        //-Version bureau
            mj-image(
            padding='0px'
            css-class="mobile-hide"
            src='https://i.ibb.co/Rkby72V7/trading-Gaming.png'
            alt='logo du Trading Game d\'Ecosup Campus'
            width="210px"
            )/
        //-Version mobile
            mj-image(
            padding='0px'
            css-class="mobile-show"
            src='https://i.ibb.co/MkDqq9W7/trading022025.png'
            alt='logo du Trading Game d\'Ecosup Campus'
            width="210px"
            )/
    mj-column(width='60%' padding="8px")
        mj-spacer(height="12px")
        mj-text(padding="0" align='left' mj-class="T+2 cA+2" text-transform='uppercase') Trading Game
        mj-text(padding="0" align='left' mj-class="T+1 cA+1") Félicitations aux gagnants&nbsp;!
        mj-text(padding="5px 0" mj-class="cT-0 T400") Le #[span(style="font-weight:700;color:#2D3748;") Trading Game] touche à sa fin, et nous tenons à féliciter chaleureusement tous les participants qui ont joué le jeu jusqu'aux derniers jours&nbsp;! Un grand bravo à #[span(style="font-weight:700;color:#2D3748;") Laura], qui a su se démarquer en empochant les gains les plus importants après un mois de combat acharné sur les marchés financiers mondiaux. 
        mj-text(padding="5px 0" mj-class="cT-0 T400") Félicitations également à #[span(style="font-weight:700;color:#2d3748;") Sary], qui remporte la deuxième place avec brio&nbsp;! Et un immense bravo à tous les autres participants, qui garderont sans aucun doute un souvenir mémorable de cette aventure boursière.
        mj-text(padding="5px 0" mj-class="cT-0 T400") Chez #[span(style="font-weight:700;color:#2D3748;") EcoSup Campus], il n'y a pas de perdant - chacun a gagné une expérience précieuse&nbsp;!